/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .header-container__list {
    padding: 20px 47px;
  }
  .welcome {
    padding-top: 90px;
  }
  .welcome-container__subtitle {
    color: black;
  }
  .product-container {
    padding: 25px 0;
  }
  .product-container__text {
    padding-bottom: 44px;
  }
  .product-container__name {
    margin: 10px 0;
  }

  .product-container__title {
    bottom: 155px;
    right: 15px;
  }
  .product-container__title-up {
    bottom: 175px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header-container__list {
    padding: 28px 44px;
    gap: 10px 240px;
  }
  .welcome {
    padding-top: 16px;
  }
  .welcome-container__text {
    padding: 0 20px;
  }
  .welcome-container__subtitle {
    color: black;
  }
  .welcome-container__desc {
    font-size: 11px;
  }
  .welcome-container__title {
    font-size: 44px;
  }
  .list {
    padding: 30px 20px;
    font-size: 10px;
  }
  .product-container {
    padding: 25px 0;
  }
  .product-container__text {
    min-width: 300px;
    padding-bottom: 44px;
  }
  .product-container__name {
    font-size: 35px;
    margin: 10px 0;
  }
  .product-container__areas {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 15px;
  }
  .product-container__title {
    font-size: 15px;
    bottom: 138px;
    right: 15px;
  }
  .product-container__title-up {
    font-size: 15px;
    bottom: 155px;
  }
  .product-container__desc {
    font-size: 11px;
  }
  .product-container__card {
    min-height: 445px;
  }
  .footage-container__text,
  .snapshot-container__text {
    padding-bottom: 160px;
  }
  .footage-container__desc,
  .tools-container__desc,
  .snapshot-container__desc {
    font-size: 11px;
  }
  .footage-container__title,
  .snapshot-container__title,
  .footer-container__title {
    font-size: 15px;
    color: #fff;
  }
  .tools-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: auto;
  }
  .tools-container__text {
    min-width: 460px;

    padding: 70px 20px;
  }
  .tools-container__title {
    font-size: 30px;
  }
  .tools-container__foto {
    visibility: hidden;
    display: none;
  }
  .footer-container {
    padding-top: 20px;
  }
  .footer-container__desc {
    font-size: 11px;
  }
  .footer-container__business-areas,
  .footer-container__pages {
    visibility: hidden;
    display: none;
  }

  .footer-container__subscribe {
    min-width: 250px;
    gap: 20px;
    padding: 20px 0;
  }

  .footer-container__copyright_action {
    width: 254px;
  }
  .footer-container__copyright input {
    width: 235px;
  }

  .footer-container__social {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding-bottom: 25px;
  }
  .footer-container__social-desc {
    text-align: center;
    font-size: 10px;
  }
  .footer-container__social-icons {
    margin: 0;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .header-container__list {
    padding: 28px 44px;
  }
  .welcome {
    padding-top: 16px;
  }
  .welcome-container__text {
    padding: 0 20px;
  }
  .welcome-container__subtitle {
    margin-bottom: 1px;
    color: black;
  }
  .welcome-container__desc {
    font-size: 10px;
  }
  .welcome-container__title {
    font-size: 44px;
    margin-bottom: 4px;
  }
  .list {
    padding: 20px 8px;
    margin: auto auto;
    font-size: 10px;
  }
  .product-container {
    padding: 20px 0;
  }
  .product-container__text {
    min-width: 320px;
    padding-bottom: 44px;
  }
  .product-container__name {
    font-size: 35px;
    margin: 10px 0;
  }
  .product-container__areas {
    font-size: 20px;
    padding: 0 20px 15px 20px;
  }
  .product-container__title {
    font-size: 15px;
    bottom: 180px;
    right: 15px;
  }
  .product-container__title-up {
    font-size: 15px;
    bottom: 210px;
  }
  .product-container__desc {
    font-size: 10px;
  }
  .product-container__card {
    min-height: 300px;
  }
  .footage,
  .snapshot {
    padding-top: 180px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footage-container__text,
  .snapshot-container__text {
    padding-bottom: 110px;
    padding-right: 20px;
  }
  .footage-container__desc,
  .tools-container__desc,
  .snapshot-container__desc {
    font-size: 10px;
  }
  .tools-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: auto;
  }
  .tools-container__text {
    min-width: 310px;
    margin: 0;
    padding: 70px 20px;
  }
  .tools-container__title {
    font-size: 30px;
  }
  .tools-container__foto {
    visibility: hidden;
    display: none;
  }
  .footer-container {
    padding-top: 20px;
  }
  .footer-container__desc {
    font-size: 10px;
  }
  .footer-container__business-areas,
  .footer-container__pages {
    visibility: hidden;
    display: none;
  }

  .footer-container__subscribe {
    min-width: 250px;
    gap: 20px;
    padding: 20px 0;
  }

  .footer-container__copyright_action {
    width: 254px;
  }
  .footer-container__copyright input {
    width: 235px;
  }

  .footer-container__social {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding-bottom: 25px;
  }
  .footer-container__social-desc {
    text-align: center;
    font-size: 8px;
  }

  .footer-container__social-icons {
    margin: 0;
  }
}
